.main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
}

/* ヘッダー */

.header {
    z-index: 20;
    height: 60px;
    line-height: 50px;
    padding: 5px 15px;
    background-color: #4169e1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: #f1f1f1;
}
.fixed-top.header {
    z-index: 20;
}

/* メッセージエリア */

.message-area-wrap {
    height: calc(100vh - 110px);
    background-color: #f1f1f1;
    overflow: auto;
}
.fixed-top.message-area-wrap {
    top: 60px;
    z-index: 10;
    overflow-scrolling: touch;
}

.message-area {
    padding: 18px 15px 0;
    overflow-scrolling: touch;
}

.send-message,
.receive-message {
    margin: 0;
    position: relative;
    padding: 8px 15px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.send-message::after,
.receive-message::after {
    content: '';
    position: absolute;
    display: block;
}

.send-message {
    margin-left: 20px;
    background-color: #4169e1;
    color: #f1f1f1;
}

.send-message::after {
    width: 0;
    height: 0;
    right: -10px;
    top: 10px;
    border-left: 20px solid #4169e1;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.receive-message {
    margin-right: 20px;
    background-color: #dddddd;
    color: #0f0f0f;
}

.receive-message::after {
    width: 0;
    height: 0;
    left: -10px;
    top: 10px;
    border-right: 20px solid #dddddd;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* メッセージ入力エリア */

.message-bar {
    height: 50px;
    background-color: #ffffff;
    font-size: 20px;
}

.message-bar input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 8px;
}

.message-bar input:focus {
    outline: none;
}